<section class="tab activity-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <fieldset>
    <legend>{{localize "MORE_ACTIVITIES.CONDITION.Legend"}}</legend>
    {{formGroup MA.rounds.field value=MA.rounds.value}}
    {{formGroup MA.status.field value=MA.status.value}}
  </fieldset>
</section>
