<section class="tab activity-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <fieldset>
    <legend>{{localize "MORE_ACTIVITIES.CREATE_ITEM.Legend"}}</legend>
    {{formGroup MA.itemUuid.field value=MA.itemUuid.value}}
  </fieldset>
</section>
