<section class="tab activity-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <fieldset>
    <legend>{{localize "MORE_ACTIVITIES.ROLL_TABLE.Legend"}}</legend>
    {{formGroup MA.tableUuid.field value=MA.tableUuid.value}}
  </fieldset>
</section>
